<h3>Login Users</h3>
<table class="table table-bordered" *ngIf="users">
    <thead>
        <tr>
            <th>Sno
            </th>
            <th>Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users;let i=index">
            <td>{{i+1}}</td>
            <td>{{u.id}}</td>
            <td>{{u.firstname}}</td>
            <td>{{u.lastname}}</td>
            <td>{{u.email}}</td>
            <td>
                <a routerLink="/view-user" class="btn btn-primary">View</a>&nbsp;&nbsp;
                <a routerLink="/edittask" class="btn btn-info">Edit</a>&nbsp;&nbsp;
                <button type="button" class="btn btn-danger"
                (click)="deleteUsers()">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="!users">
    No records
</div>