<h1>view users</h1>
<table class="Table table-bordered" *ngIf="user">
    <tbody>
        <tr>
            <th>id</th>
            <td>{{user.id}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <th>{{user.email}}</th>
            </tr>
            <tr>
                <th>
                </th>
                <td>
                    <button type="button" class="btn btn-danger"(click)="deleteUser()">Delete</button>&nbsp;
                    <button type="button" class="btn btn-success" routerLink="/listtasks">back</button>
                </td>
            </tr>
    </tbody>
</table>
