<style>
    div{
        text-align:center;
   }
</style>
<div>
    <h2>List Tasks</h2>
<table class="center">
    <tr>
      <th>Sno.</th>
      <th>Task Name</th>
      <th>Status</th>
      <th>Actions</th>

    </tr>
    <tr>
      <td> 1</td>
      <td>Install Git</td>
      <td>Pending</td>
      <td><a routerLink="/edittask">edit</a></td>

    </tr>
    <tr>
        <td> 2</td>
        <td>Install node js</td>
        <td>Pending</td>
        <td><a routerLink="/edittask">edit</a></td>
    </tr>
    <tr>
        <td> 3</td>
      <td>Install vs code</td>
      <td>Pending</td>
      <td><a routerLink="/edittask">edit</a></td>
      </tr>
      <tr>
        <td> 4</td>
      <td>Install vpn</td>
      <td>Pending</td>
      <td><a routerLink="/edittask">edit</a></td>
      </tr>
  </table>
</div>